@{
    ViewBag.Title = "Права доступа";
}

<h3>@ViewBag.Message</h3>

<br />
<table width="90%" align="center">
    <tr>
        <td>Админимстратор</td>
        <td>Приёмщик</td>
        <td>Клиент</td>
    </tr>
    <tr>
        <td>ВСЕ СТРАНИЧКИ САЙТА</td>
        <td>Все, кроме админ часть</td>
        <td>Только одну страничку "Создать новый заказать"</td>
    </tr>
</table>
