@{
    ViewBag.Title = "Контакты";
}
<h3>@ViewBag.Message</h3>

<br />
<p>&copy; @DateTime.Now.Year – сайт: ~ Учет деятельности Химчистки ' Ω ' </p>
<p>от комманды "IT CLUB":</p>
<ul>
    <li>Лугачева</li>
    <li>Сивоконь</li>
    <li>Чан Тен Тунг</li>
    <li>Александров</li>
</ul>

<address>
    <strong>IT CLUB:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
</address>