@model IEnumerable<DryCleaning.Domain.Entities.Order>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Химчисткa ~ Ω ~</h1>

    <br />
    <p class="lead">Этот сайт, разработанный 'IT CLUB', предназначен:</p>
    <ul>
        <li>- для учета деятельности химчистки</li>
        <li>- для отслеживания клиентов</li>
        <li>- для упращения работы с данными услуг</li>
        <li>- отслеживания заказов всех дочерних филиалов химчистки</li>
    </ul>
    <br />
    <p><a href="../Order/List" class="btn btn-primary btn-lg">Учет деятельности Химчистки ' ~ Ω ~ ' &raquo;</a></p>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Все заказы</h2>
        <p>
            Вы имеете возможность просмотра всех заказов сделанных из разных предприятий.
        </p>
        <p>@Html.ActionLink("Все заказы >> ", "Index", "Admin")</p> 
    </div>
    <div class="col-md-4">
        <h2>Создать</h2>
        <p>Вы имеете возможность создать новый заказ,</p>
        <p>который будет позже добавлен в БД.</p>
        <p> @(Html.ActionLink("Создать новую анкету >> ", "Create", "Admin"))</p>
    </div>
    <div class="col-md-4">
        <h2>Накладная</h2>
        <p>Вы можете сформировать накладную</p>
        <p>клиента.</p>
        <p>@Html.ActionLink("Сформировать накладную >>", "Checkout", "Cart")</p>
    </div>
</div>