@model DryCleaning.WebUI.Models.LoginViewModel

@{
    ViewBag.Title = "Авторизация";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h1>Авторизация</h1>
<p>Для того, что пользоваться системой введи:</p>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    @Html.EditorForModel()
    <p><input type="submit" value="Log in" /></p>
}

