@model DryCleaning.WebUI.Models.OrdersListViewModel


@{
    ViewBag.Title = "Клиенты";
}

@foreach (var p in Model.Orders)
{
    Html.RenderPartial("OrderSummary", p);
}

<div class="pager">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x }))
</div>
